<h1>Listing rankings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Match</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% 
r = Ranking.all.paginate(:page => params[:page])
r.each do |ranking| 	
%>
  <tr>
	<td><%= ranking.created_at.strftime("%d %b '%y") if ranking.created_at %>
    <td><%= User.find(ranking.user_id).name %></td>
    <td><%= ranking.match_id %></td>
    <td><%= ranking.score %></td>
    <td><%= link_to 'Show', ranking %></td>
    <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
    <td><%= link_to 'Destroy', ranking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ranking', new_ranking_path %>
