<h1>All Users</h1>

<%= will_paginate %>
<table class="league">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>@twitter</th>

		<% if current_user.admin? %>
		<td>Edit</td>
		<td>Delete</td>
		<% end %>
	</tr>
<% User.find(:all, :order => 'name').paginate(:page => params[:page]).each do |u| %>	

	<tr>
		<td><%= link_to u.name, u %></td>
		<td><%= mail_to u.email %></td>
		<td><%= u.mobile %></td>
		<%= u.twitter %></td>
		<% if current_user.admin? %>
	    <td><%= link_to 'Edit', edit_user_path(u) %></td>
	    <td><%= link_to 'Destroy', u, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	</tr>
<% end %>
</table>
<%= will_paginate %>