<%= form_for @match do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
<!-- Get the division_id for current logged in user -->


  

<table>
	<tr>
		<th>Player 1</th>
		<th>Score</th>
		<th>Score</th>
		<th>Player 2</th>
	</tr>

	<tr>

    	<td><%= User.find(@result.first["user_id"]).name %></td>
	<%= f.fields_for :results do |result_form| %>
	<td><%= result_form.text_field :score %><% end %></td>
		
		
	

	<td><%= User.find(@result.last["user_id"]).name %></td>
	
	<!-- Get the score -->
	<% # result_form.select :score, options_for_select([["0", "0"], ["1", "1"], ["2", "2"], ["3", "3"],  :score]) %>
		

	</tr>
</table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
